.form {
    display: block;
    padding: 10px;
    width: 350px;
    outline: 2px solid black;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.name {
    font-weight: 500;
    font-size: 18px;
}

.input {
    width: 140px;
    border: 1px solid rgb(187, 184, 184);
    border-radius: 3px;
}

.button {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgb(187, 184, 184);
    border-radius: 3px;
}